*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(architecture-building-city-cityscape-269128.jpg) no-repeat center fixed;
    background-size: cover;
}

.container{
    color: antiquewhite;
    position: absolute;
    top: 8%;
    left: 62%;
}

.container h1{
    font-size: 40px;
    display: inline-block;
    border-bottom: 5px solid white;
    margin-bottom: 45px;
    padding: 13px 0px;
    font-family: 'Heebo', sans-serif;
}

.box{
    width: 100%;
    border-bottom: 2px solid white;
    margin: 32px 0px;
  
}

.box input{
    width: 75%;
    padding: 5px 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    background: none;
}

.box i{
    text-align: center;
    width: 25px;
   
}
.btn{
    cursor: pointer;
    color: white;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btn:hover{
    color: darkblue;
    background: white;
    opacity: 0.5;
}
